<%- include("partials/header")  %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 d-flex justify-content-center  align-items-center">
               <img class="imagen-productDetail" class="img-fluid" src="/img/<%= producto.image %>" alt="<%= producto.name %>" >
        </div>
        <nav class="col-12">
            <ul class="text-center pl-0">
                <li><%= producto.category %></li>
                <li><%= producto.name %></li>
                <li><%= producto.price %></li>
            </ul>
        </nav>
        <div class="col-12 text-center" class="card-body">
            <a class="btn btn-primary my-4" href="/product/cart" role="button">Agregar al carrito</a>
        </div>
    </div>
</div>

<%- include("partials/footer") %>