<%- include("partials/header")  %>
<section class="cart-section">
    <div class="card border-0" class="container row col-md-12">
        <div class="cart-table w-75 p-3 my-5 table-light justify-content-center mx-auto">
            <h3>Tus Compras</h3>
            <div class="cart-table-warp">
                <table class="w-100">
                    <thead class="border-bottom border-dark">
                        <tr>
                            <th class="producto-th">Producto</th>
                            <th class="cantidad-th">Cantidad</th>
                            <th class="precio-th">Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(cart) { %> 
                            <% for(item of cart) { %> 
                        <tr>
                            <td class="product-col col-8 p-0">
                                <img class="thumb" src="/img/<%= item.product.image %> " alt="">
                                <div class="title">
                                    <h4><%= item.product.name %> </h4>
                                    <p>$ <%= item.product.price %></p>
                                </div>
                            </td>
                            <td class="cantidad-col col-1 p-0">
                                <div class="cantidad d-flex w-50 mr-0">
                                    <div class="pro-cant">
                                        <input class="d-flex w-100" type="text" value="1">
                                    </div>
                                </div>
                            </td>
                            <td class="total-col w-25 col-3 p-0">
                                <span>$ </span><h4 class="precio"><%= item.product.price %> </h4>
                            </td>
                        </tr>
                        <% } %> 
                    <% } %> 
                    </tbody>
                </table>
            </div>
            <div class="total-cost row pt-3 bg-white border-top border-dark">
               <div class="col-8 col-md-9 col-lg-9">
                   <h6 class="h1 mb-0">Total</h6>
                </div>
                <div class="col-4 col-md-3 col-lg-3 text-right border-left border-dark"> 
                    <p class="h2 mb-0"><span>$ </span>5000</p>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include("partials/footer") %>