<%- include("partials/header")  %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 d-flex justify-content-center  align-items-center">
               <img class="imagen-productDetail" class="img-fluid" src="/img/<%= product[0].image %>" alt="<%= product[0].name %>" >
        </div>
        <nav class="col-12">
            <ul class="text-center pl-0">
                <li><h3><%= category[0].name %></li></h3>
                <li><h4><%= product[0].name %></li></h4>
                <li><h5>$<%= product[0].price %></li></h5>
            </ul>
        </nav>
        <div class="col-12 text-center" class="card-body">
            <a class="btn btn-primary my-4" href="/product/cartAdd/<%= product.category_id %>/<%= product.id %>" role="button">Agregar al carrito</a>
        </div>
    </div>
</div>

<%- include("partials/footer") %>