<%- include("partials/header")  %>
<div class="row my-5">
    <div class="col-12">
        <h1>Categoria <%= category.name %> </h1>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-4 mx-auto ">
    <% for (producto of product) { %>
    <div class="col mb-4">
        <div class="card">
            <a href="/product/<%= producto.category_id %>/detail/<%= producto.id %>">
                <img src="/img/<%= producto.image %>" class="card-img-top" alt="<%= producto.name %> ">
            </a>
            <div class="card-body">
                <h5 class="card-title"><%= producto.name %></h5>
                <p class="card-text"><%= producto.name %> de <%= category[0].name %></p>
                <h6 class="card-title">$<%= producto.price %></h6>
            </div>
            <a class="btn btn-primary" href="/product/cartAdd/<%= producto.category_id %>/<%= producto.id %>" role="button">Agregar al carrito</a>
        </div>
    </div>
    <% } %>
</div>

<%- include("partials/footer") %>