<%- include("partials/header")  %>

<body>

  <% if(user) { %>
  <div class="container-fluid">
    <div class="col-md-10 rounded mx-auto d-block col-xs-12 col-sm-6 col-lg-8">
      <div class="card">
        <h5 class="card-title col-12 d-flex justify-content-center"> PERFIL DE USUARIO </h5>
        <% if(user.avatar) { %>
        <img src="/img/avatars/<%=user.avatar%>" id="profile-image1" class="img-thumbnail card-image-prof"
          alt="User Pic">
        <% } %>
        <div class="card-body">

          <p class="card-text">
            <h2><%=user.first_name + " "+ user.last_name%></h2>
            <p><b><%= user.city + " "+ user.state %> </b></p>
          </p>

          <ul class="container details">
            <li>
              <p><span class="glyphicon glyphicon-user one" style="width:50px;"></span>Direccion: <%= user.address %>
              </p>
            </li>
            <li>
              <p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>Mail: <%= user.email %></p>
            </li>
          </ul>

          <div class="col-12 d-flex justify-content-center">
            <button class="btn btn-primary" role="button"><a href="/users/logout">LOGOUT</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div><% } %>
    <%- include("partials/footer") %></div>

</body>


</html>